!!!
%html{ lang: I18n.locale }
  %head
    %meta{ 'content' => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ charset: 'utf-8' }/
    %title= safe_join([yield(:page_title), Setting.default_settings['site_title']], ' - ')
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    = vite_client_tag
    = vite_react_refresh_tag
    = vite_polyfills_tag
    = theme_style_tags Setting.default_settings['theme']
    = vite_typescript_tag 'error.ts', crossorigin: 'anonymous'
  %body.error
    .dialog
      .dialog__illustration
        %img{ alt: Setting.default_settings['site_title'], src: '/oops.png' }/
      .dialog__message
        %h1 <strong style="display: inline-block !important; text-align: left; padding-left: 20px;">Something went wrong</strong>
        %p <span style="margin-top: 10px; font-size: 16px;display: block;text-align: left; line-height: 1.5; padding-left: 20px;">Check <a href="https://status.mementomori.social">server status</a> or contact: <a href="mailto:admin@mementomori.social">admin@mementomori.social</a>. Sorry for the inconvenience.</span>
